/* 
 * =============================================================================
 * Author: Mark Angelo Angulo
 * =============================================================================
 */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* 
    * -------------------------------------------------------------------------
    *  GRID
    * -------------------------------------------------------------------------
    */

    h1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 80px auto auto;
        grid-template-areas:
            "main-navigation"
            "main"
            "footer";
    }

    /*
    * ------------------------------------------------------------------------------
    *  POSITION
    * ------------------------------------------------------------------------------
    */

    main {
        position: relative;
    }

    #gg {
        position: absolute;
        top: 0;
        left: 0;
    }

    /*
    * ------------------------------------------------------------------------------
    *  STYLE
    * ------------------------------------------------------------------------------
    */

    :target {
        z-index: 3;
    }

}